---
import PageLayout from "@/layouts/Base";

const meta = {
	title: "About",
	description: "About me in a single page",
};
---

<PageLayout meta={meta}>
	<div class="space-y-6">
		<h1 class="title">Who am I?</h1>
		<p>
			Seasoned Software Developer with 15 years of professional expertise, specializing in web development for the past 10 years.
      Passionate about crafting exceptional software, thriving in startup environments, and dedicated to the dynamics of remote-first work,
      embracing asynchronous communication for optimal collaboration."
		</p>ß
	</div>
</PageLayout>
