---
import PageLayout from "@/layouts/Base";

const recentProjects: Array<{ title: string; desc: string; href: string }> = [
{
		title: "Echo",
		desc: "Internal evaluation tool for the team. (Confidential)",
		href: "https://yopeso.com",
	},
	{
		title: "AddEvent",
		desc: "Develop ics generator service, A/B Testing tool, API, and more.",
		href: "https://addevent.com",
	},
	{
		title: "Raffall",
		desc: "Infra & stack migration, integrations, Bug bounty program and more.",
		href: "https://raffall.com",
	},
	{
		title: "GEP",
		desc: "Global supply chain platform for medical supplies. (Confidential)",
		href: "https://yopeso.com",
	},
	{
		title: "Vacatio",
		desc: "Leave manegement system for the team. (Confidential)",
		href: "https://yopeso.com/",
	},
	{
		title: "Pythia",
		desc: "A bug prediction tool for the team. (Confidential)",
		href: "https://yopeso.com/",
	},
	{
		title: "Metabuyer",
		desc: "e-Procurment platform for Sunway Group Malaysia.",
		href: "https://metabuyer.com",
	},
	{
		title: "LCA",
		desc: "DMS, Data Sync, ETL & Business Intelligence",
		href: "https://lca.asia/",
	},
];
---

<PageLayout meta={{ title: "Home" }}>
	<section>
		<h2 class="title mb-4 text-xl">Recent Works & Involvements</h2>
		<ul class="space-y-4 sm:space-y-2">
			{
				recentProjects.map(({ href, title, desc }) => (
					<li>
						<a
							href={href}
							target="_blank"
							rel="noopener noreferrer"
							class="cactus-link inline-block"
						>
							{title}
						</a>:
						<p class="inline-block sm:mt-2">{desc}</p>
					</li>
				))
			}
		</ul>
	</section>
</PageLayout>
