---
---

<section class="py-10 md:py-16">

    <div class="container max-w-screen-xl mx-auto px-4">

        <h1 class="font-medium text-gray-700 text-3xl md:text-4xl mb-5">Education</h1>

        <p class="font-normal text-gray-500 text-xs md:text-base mb-20">I pursue my study from Diploma to Bachelor Degree in Information Technology</p>

        <div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-6">
            <div class="bg-gray-50 px-8 py-10 rounded-md">
                <h4 class="font-medium text-gray-700 text-lg mb-4">2010 – 2012</h4>

                <p class="font-normal text-gray-500 text-md mb-4">
                  <strong>Bachelor Degree</strong> <br>
                  Information Technology <br>
                  Research on how the CRM app can impact customer satisfcation for learning center businesses.
                </p>

                <div class="relative">
                    <h6 class="font-semibold text-gray-500 text-md relative z-10">Hasanuddin University, Indonesia</h6>
                </div>
            </div>

            <div class="bg-gray-50 px-8 py-10 rounded-md">
              <h4 class="font-medium text-gray-700 text-lg mb-4">2004 – 2007</h4>

              <p class="font-normal text-gray-500 text-md mb-4">
                <strong>Diploma Degree</strong> <br>
                Information Technology <br>
                Research and Final Project on CDMA Customer registration with offline mode support.
              </p>

              <div class="relative">
                  <h6 class="font-semibold text-gray-500 text-md relative z-10">Hasanuddin University, Indonesia</h6>
              </div>
          </div>
        </div>

    </div>

</section>
