---
---

<section class="py-10 md:py-16">

    <div class="container max-w-screen-xl mx-auto px-4">

        <h1 class="font-medium text-gray-700 text-3xl md:text-4xl mb-5">Experience</h1>

        <p class="font-normal text-gray-500 text-xs md:text-base mb-20">For years I have been involved and worked with projects, clients and companies</p>

        <div class="relative overflow-x-auto shadow-md sm:rounded-lg">
        <!-- <div class="flex flex-col lg:flex-row justify-between relative overflow-x-auto shadow-md sm:rounded-lg"> -->

          <table class="w-full text-sm text-left rtl:text-right text-gray-500 dark:text-gray-400">
            <thead class="text-xs text-gray-700 uppercase dark:text-gray-400">
                <tr>
                    <th scope="col" class="px-6 py-3 bg-gray-50 dark:bg-gray-800">
                        Company / Employer / Client
                    </th>
                    <th scope="col" class="px-6 py-3">
                        Location
                    </th>
                    <th scope="col" class="px-6 py-3 bg-gray-50 dark:bg-gray-800">
                        Position
                    </th>
                    <th scope="col" class="px-6 py-3">
                        Period
                    </th>
                </tr>
            </thead>
            <tbody>
                <tr class="border-b border-gray-200 dark:border-gray-700">
                    <th scope="row" class="px-6 py-4 font-medium text-gray-900 whitespace-nowrap bg-gray-50 dark:text-white dark:bg-gray-800">
                      Yopeso
                    </th>
                    <td class="px-6 py-4">
                      Remote
                    </td>
                    <td class="px-6 py-4 bg-gray-50 dark:bg-gray-800">
                      Senior Web Developer
                    </td>
                    <td class="px-6 py-4">
                      Mar 2019 - Now
                    </td>
                </tr>
                <tr class="border-b border-gray-200 dark:border-gray-700">
                    <th scope="row" class="px-6 py-4 font-medium text-gray-900 whitespace-nowrap bg-gray-50 dark:text-white dark:bg-gray-800">
                      Metacloud (Sunway Technology Group)
                    </th>
                    <td class="px-6 py-4">
                      Petaling Jaya, Malaysia
                    </td>
                    <td class="px-6 py-4 bg-gray-50 dark:bg-gray-800">
                      Senior Software Engineer
                    </td>
                    <td class="px-6 py-4">
                      Jan 2017 - Feb 2019
                    </td>
                </tr>
                <tr class="border-b border-gray-200 dark:border-gray-700">
                    <th scope="row" class="px-6 py-4 font-medium text-gray-900 whitespace-nowrap bg-gray-50 dark:text-white dark:bg-gray-800">
                      Logistics Consulting Asia
                    </th>
                    <td class="px-6 py-4">
                      Petaling Jaya, Malaysia
                    </td>
                    <td class="px-6 py-4 bg-gray-50 dark:bg-gray-800">
                      Application Developer
                    </td>
                    <td class="px-6 py-4">
                      Sep 2015 - Jan 2017
                    </td>
                </tr>
                <tr class="border-b border-gray-200 dark:border-gray-700">
                    <th scope="row" class="px-6 py-4 font-medium text-gray-900 whitespace-nowrap bg-gray-50 dark:text-white dark:bg-gray-800">
                      CloudApps Technology
                    </th>
                    <td class="px-6 py-4">
                      Remote
                    </td>
                    <td class="px-6 py-4 bg-gray-50 dark:bg-gray-800">
                      Senior Web Developer
                    </td>
                    <td class="px-6 py-4">
                      Feb 2015 - Sep 2015
                    </td>
                </tr>
                <tr>
                  <th scope="row" class="px-6 py-4 font-medium text-gray-900 whitespace-nowrap bg-gray-50 dark:text-white dark:bg-gray-800">
                    Various companies in Indonesia
                  </th>
                  <td class="px-6 py-4">
                    Makassar, Indonesia
                  </td>
                  <td class="px-6 py-4 bg-gray-50 dark:bg-gray-800">
                    Desktop Programmer, Web Developer, Branch Manager
                  </td>
                  <td class="px-6 py-4">
                    Sep 2007 - Jan 2015
                  </td>
              </tr>
            </tbody>
        </table>

        </div>

    </div>

</section>
