---
import { Icon } from 'astro-icon/components';
---

<footer class="py-10 md:py-16 mb-20 md:mb-40 lg::mb-52">
    <div class="container max-w-screen-xl mx-auto px-4">

        <div class="text-center">
            <p class="font-normal text-gray-400 text-md md:text-lg mb-10">I’m not currently taking on new client work but feel free to contact me for any <br> other inquiries.</p>

            <div class="flex items-center justify-center space-x-8">
                <a href="https://github.com/emanmks" class="w-16 h-16 flex items-center justify-center rounded-full hover:bg-gray-200 transition ease-in-out duration-500">
                    <Icon name="lucide:github" class="text-gray-500 hover:text-gray-800 transition ease-in-out duration-500" />
                </a>
            </div>
        </div>

    </div>
</footer>