---
interface Props {
	title: string;
	tagline: string;
	name: string;
}

const { name, title, tagline } = Astro.props;
---

<section>
    <div class="container">
        <div style="text-align: center; max-width: 700px; margin: 6rem auto 4rem auto;">
            <div class="ascii-divider">
                · · · · ·
            </div>

            <h1 style="font-size: 2rem; line-height: 1.3; font-weight: 400;">{name ?? 'Solaiman Mansyur'}</h1>

            <p style="color: var(--muted-color); font-size: 1.5rem;">{title ?? 'Software Developer'}</p>

            <p style="color: var(--muted-color); font-size: 0.75rem; font-family: 'Space Mono', monospace;">{tagline ?? 'Crafting Code, Building Futures'}</p>
        </div>
    </div>
</section>
