---
import { Icon } from 'astro-icon/components'
---

<section class="py-10 md:py-16">
  <div class="container max-w-screen-xl mx-auto px-4">
    <h1 class="font-medium text-gray-700 text-3xl md:text-4xl mb-5">Project History</h1>
    <p class="font-normal text-gray-500 text-xs md:text-base mb-10 md:mb-20">Below is a summary of the places I studied</p>

    <div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-6">
      <div class="bg-gray-50 px-8 py-10 rounded-md">
        <h5 class="mb-2 text-2xl font-semibold tracking-tight text-gray-900">Production Manager</h5>
        <p class="font-normal text-gray-500 text-md mb-4">
            Doing integrations to load the customer's pre-orders and with the delivery services for the delivery.
        </p>

        <p class="font-semibold text-gray-500 text-sm mb-4">
            <Icon name="firebase" class="w-6 h-6 ml-1 mr-1 inline-block" />
            <Icon name="gcloud" class="w-6 h-6 ml-1 mr-1 inline-block" />
            <Icon name="node" class="w-6 h-6 ml-1 mr-1 inline-block" />
            <Icon name="typescript" class="w-6 h-6 ml-1 mr-1 inline-block" />
            <Icon name="go" class="w-6 h-6 ml-1 mr-1 inline-block" />
            <Icon name="php" class="w-6 h-6 ml-1 mr-1 inline-block" />
            <Icon name="docker" class="w-6 h-6 ml-1 mr-1 inline-block" />
            <Icon name="gitlab" class="w-6 h-6 ml-1 mr-1 inline-block" />
            <Icon name="jira" class="w-6 h-6 ml-1 mr-1 inline-block" />
        </p>

        <h6 class="font-semibold text-gray-500 text-md">DUNKIN <span class="font-medium text-gray-300 text-sm">- The Netherland</span></h6>
      </div>

      <div class="bg-gray-50 px-8 py-10 rounded-md">
        <h5 class="mb-2 text-2xl font-semibold tracking-tight text-gray-900">360 Feedback Evaluation Tool</h5>
        <p class="font-normal text-gray-500 text-md mb-4">
            Internal tool for the company to evaluate the employees. Using the 360 feedback evaluation method.
        </p>

        <p class="font-semibold text-gray-500 text-sm mb-4">
            <Icon name="firebase" class="w-6 h-6 ml-1 mr-1 inline-block" />
            <Icon name="gcloud" class="w-6 h-6 ml-1 mr-1 inline-block" />
            <Icon name="node" class="w-6 h-6 ml-1 mr-1 inline-block" />
            <Icon name="next" class="w-6 h-6 ml-1 mr-1 inline-block" />
            <Icon name="typescript" class="w-6 h-6 ml-1 mr-1 inline-block" />
            <Icon name="php" class="w-6 h-6 ml-1 mr-1 inline-block" />
            <Icon name="docker" class="w-6 h-6 ml-1 mr-1 inline-block" />
            <Icon name="gitlab" class="w-6 h-6 ml-1 mr-1 inline-block" />
            <Icon name="jira" class="w-6 h-6 ml-1 mr-1 inline-block" />
        </p>

        <h6 class="font-semibold text-gray-500 text-md">Yopeso <span class="font-medium text-gray-300 text-sm">- Global</span></h6>
      </div>

      <div class="bg-gray-50 px-8 py-10 rounded-md">
        <h5 class="mb-2 text-2xl font-semibold tracking-tight text-gray-900">A/B Testing Tool</h5>
        <p class="font-normal text-gray-500 text-md mb-4">
          Develop A/B Testing Tool for the company to test the new pricing plans to find the most selling pricing plan.
        </p>

        <p class="font-semibold text-gray-500 text-sm mb-4">
            <Icon name="python" class="w-6 h-6 ml-1 mr-1 inline-block" />
            <Icon name="mysql" class="w-6 h-6 ml-1 mr-1 inline-block" />
            <Icon name="docker" class="w-6 h-6 ml-1 mr-1 inline-block" />
            <Icon name="aws" class="w-6 h-6 ml-1 mr-1 inline-block" />
            <Icon name="kubernetes" class="w-6 h-6 ml-1 mr-1 inline-block" />
            <Icon name="github" class="w-6 h-6 ml-1 mr-1 inline-block" />
            <Icon name="jira" class="w-6 h-6 ml-1 mr-1 inline-block" />
        </p>

        <h6 class="font-semibold text-gray-500 text-md">AddEvent <span class="font-medium text-gray-300 text-sm">- San Fransisco</span></h6>
      </div>

      <div class="bg-gray-50 px-8 py-10 rounded-md">
        <h5 class="mb-2 text-2xl font-semibold tracking-tight text-gray-900">iCal Generator</h5>
        <p class="font-normal text-gray-500 text-md mb-4">
          Deliver a tool to generate iCal files for the customers to add the events to their calendars.
        </p>

        <p class="font-semibold text-gray-500 text-sm mb-4">
            <Icon name="go" class="w-6 h-6 ml-1 mr-1 inline-block" />
            <Icon name="mysql" class="w-6 h-6 ml-1 mr-1 inline-block" />
            <Icon name="docker" class="w-6 h-6 ml-1 mr-1 inline-block" />
            <Icon name="aws" class="w-6 h-6 ml-1 mr-1 inline-block" />
            <Icon name="kubernetes" class="w-6 h-6 ml-1 mr-1 inline-block" />
            <Icon name="github" class="w-6 h-6 ml-1 mr-1 inline-block" />
            <Icon name="jira" class="w-6 h-6 ml-1 mr-1 inline-block" />
        </p>

        <h6 class="font-semibold text-gray-500 text-md">AddEvent <span class="font-medium text-gray-300 text-sm">- San Fransisco</span></h6>
      </div>

      <div class="bg-gray-50 px-8 py-10 rounded-md">
        <h5 class="mb-2 text-2xl font-semibold tracking-tight text-gray-900">DO to AWS Migration</h5>
        <p class="font-normal text-gray-500 text-md mb-4">
          Working with a cross functional team to migrate the infrastructure from Digital Ocean to AWS.
        </p>

        <p class="font-semibold text-gray-500 text-sm mb-4">
            <Icon name="php" class="w-6 h-6 ml-1 mr-1 inline-block" />
            <Icon name="mysql" class="w-6 h-6 ml-1 mr-1 inline-block" />
            <Icon name="docker" class="w-6 h-6 ml-1 mr-1 inline-block" />
            <Icon name="digitalocean" class="w-6 h-6 ml-1 mr-1 inline-block" />
            <Icon name="aws" class="w-6 h-6 ml-1 mr-1 inline-block" />
            <Icon name="kubernetes" class="w-6 h-6 ml-1 mr-1 inline-block" />
            <Icon name="github" class="w-6 h-6 ml-1 mr-1 inline-block" />
            <Icon name="jira" class="w-6 h-6 ml-1 mr-1 inline-block" />
        </p>

        <h6 class="font-semibold text-gray-500 text-md">Raffall <span class="font-medium text-gray-300 text-sm">- London</span></h6>
      </div>

      <div class="bg-gray-50 px-8 py-10 rounded-md">
        <h5 class="mb-2 text-2xl font-semibold tracking-tight text-gray-900">Venti (GEP)</h5>
        <p class="font-normal text-gray-500 text-md mb-4">
          A web platform to help the countries to get the medical supplies they need, especially during the Covid-19 pandemic.
        </p>

        <p class="font-semibold text-gray-500 text-sm mb-4">
            <Icon name="php" class="w-6 h-6 ml-1 mr-1 inline-block" />
            <Icon name="mysql" class="w-6 h-6 ml-1 mr-1 inline-block" />
            <Icon name="docker" class="w-6 h-6 ml-1 mr-1 inline-block" />
            <Icon name="aws" class="w-6 h-6 ml-1 mr-1 inline-block" />
            <Icon name="github" class="w-6 h-6 ml-1 mr-1 inline-block" />

        </p>

        <h6 class="font-semibold text-gray-500 text-md">Yopeso <span class="font-medium text-gray-300 text-sm">- Kota Kinabalu</span></h6>
      </div>

      <div class="bg-gray-50 px-8 py-10 rounded-md">
        <h5 class="mb-2 text-2xl font-semibold tracking-tight text-gray-900">Vacatio</h5>
        <p class="font-normal text-gray-500 text-md mb-4">
          Internal leave management system for the company to manage the employee's leave.
        </p>

        <p class="font-semibold text-gray-500 text-sm mb-4">
            <Icon name="php" class="w-6 h-6 ml-1 mr-1 inline-block" />
            <Icon name="mysql" class="w-6 h-6 ml-1 mr-1 inline-block" />
            <Icon name="docker" class="w-6 h-6 ml-1 mr-1 inline-block" />
            <Icon name="aws" class="w-6 h-6 ml-1 mr-1 inline-block" />
            <Icon name="github" class="w-6 h-6 ml-1 mr-1 inline-block" />
        </p>

        <h6 class="font-semibold text-gray-500 text-md">Yopeso <span class="font-medium text-gray-300 text-sm">- Kota Kinabalu</span></h6>
      </div>

      <div class="bg-gray-50 px-8 py-10 rounded-md">
        <h5 class="mb-2 text-2xl font-semibold tracking-tight text-gray-900">Pythia</h5>
        <p class="font-normal text-gray-500 text-md mb-4">
          Bug prediction using bug-caching technique. The prediction is used to check the possibility of the merge request to introduce a bug.
        </p>

        <p class="font-semibold text-gray-500 text-sm mb-4">
            <Icon name="php" class="w-6 h-6 ml-1 mr-1 inline-block" />
            <Icon name="mysql" class="w-6 h-6 ml-1 mr-1 inline-block" />
            <Icon name="docker" class="w-6 h-6 ml-1 mr-1 inline-block" />
            <Icon name="aws" class="w-6 h-6 ml-1 mr-1 inline-block" />
            <Icon name="github" class="w-6 h-6 ml-1 mr-1 inline-block" />
        </p>

        <h6 class="font-semibold text-gray-500 text-md">Yopeso <span class="font-medium text-gray-300 text-sm">- Kota Kinabalu</span></h6>
      </div>

      <div class="bg-gray-50 px-8 py-10 rounded-md">
        <h5 class="mb-2 text-2xl font-semibold tracking-tight text-gray-900">3-Ways Invoice Matching</h5>
        <p class="font-normal text-gray-500 text-md mb-4">
          ERPs, e-Procurement and Invoice Matching system integration.
        </p>

        <p class="font-semibold text-gray-500 text-sm mb-4">
            <Icon name="angular" class="w-6 h-6 ml-1 mr-1 inline-block" />
            <Icon name="php" class="w-6 h-6 ml-1 mr-1 inline-block" />
            <Icon name="mysql" class="w-6 h-6 ml-1 mr-1 inline-block" />
            <Icon name="docker" class="w-6 h-6 ml-1 mr-1 inline-block" />
            <Icon name="aws" class="w-6 h-6 ml-1 mr-1 inline-block" />
            <Icon name="github" class="w-6 h-6 ml-1 mr-1 inline-block" />
        </p>

        <h6 class="font-semibold text-gray-500 text-md">Metacloud <span class="font-medium text-gray-300 text-sm">- Bandar Sunway</span></h6>
      </div>

      <div class="bg-gray-50 px-8 py-10 rounded-md">
        <h5 class="mb-2 text-2xl font-semibold tracking-tight text-gray-900">e-Procurement Platform</h5>
        <p class="font-normal text-gray-500 text-md mb-4">
          e-Procurement platform for the biggest business group in Malaysia to manage the procurement process of all it's organization.
        </p>

        <p class="font-semibold text-gray-500 text-sm mb-4">
            <Icon name="angular" class="w-6 h-6 ml-1 mr-1 inline-block" />
            <Icon name="php" class="w-6 h-6 ml-1 mr-1 inline-block" />
            <Icon name="mysql" class="w-6 h-6 ml-1 mr-1 inline-block" />
            <Icon name="docker" class="w-6 h-6 ml-1 mr-1 inline-block" />
            <Icon name="aws" class="w-6 h-6 ml-1 mr-1 inline-block" />
            <Icon name="github" class="w-6 h-6 ml-1 mr-1 inline-block" />
        </p>

        <h6 class="font-semibold text-gray-500 text-md">Metacloud <span class="font-medium text-gray-300 text-sm">- Bandar Sunway</span></h6>
      </div>

      <div class="bg-gray-50 px-8 py-10 rounded-md">
        <h5 class="mb-2 text-2xl font-semibold tracking-tight text-gray-900">BI for Logistic & Distribution</h5>
        <p class="font-normal text-gray-500 text-md mb-4">
          Covering the data-sync of around 300 DMS node in SouthEast Asia, data-warehouse, and ETL to generate data-visualization and business intelligence report.
        </p>

        <p class="font-semibold text-gray-500 text-sm mb-4">
            <Icon name="python" class="w-6 h-6 ml-1 mr-1 inline-block" />
            <Icon name="php" class="w-6 h-6 ml-1 mr-1 inline-block" />
            <Icon name="postgres" class="w-6 h-6 ml-1 mr-1 inline-block" />
        </p>

        <h6 class="font-semibold text-gray-500 text-md">LCA <span class="font-medium text-gray-300 text-sm">- Petaling Jaya</span></h6>
      </div>
    </div>
  </div>
</section>
